@import "../abstracts/variables";

.btn{
  padding: 8px 24px;
  border-radius: 4px;
  color: $card-background-color;
  border-style: none;
  width: 242px;
}

.add-to-busket{
  background-color:  $secondary-color;

  &:hover{
    background-color: $button-add-hoved-color;
    transition: 0.3s;
  }
}

.end-up{
  background-color: $button-end-up-color;

  &:hover{
    background-color: $button-end-up-hover-color;
    transition: 0.3s;
  }
}



  