
.body-margin{
margin: 52px;
}

.header{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 120px;
}

.logo{
  display: flex;
  align-items: center;
}  

.logo-name{
  color: #0E0F13;
  font-family: Cabin;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  padding-left: 18px;
}

.nav-menu{
  display: flex;
  gap: 20px;
}

.nav-menu li{
  font-family: Cabin;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.nav-menu a{
  text-decoration: none;
  color: #0E0F15;
}
.pricing-option  a{
  color: #425DF8;
  cursor: default;
}

.btn{
  color: #F6FDFF;
  border-radius: 8px;
  border: 1px solid #425DF8;
  background: #425DF8;
  padding: 18px 22px;
  margin: 15px;
}
.btn.sign-in{
  color: #0E0F13;
  border-radius: 8px;
  border: 1px solid #DADADA;
  background-color: #fff;
}
.btn.sign-in:hover{
  border-radius: 8px;
  background-color: #DADADA;
  transition: 0.3s;
}

.btn.sign-up:hover{
  border-radius: 8px;
  border: 1px solid #425DF8;
  color: #425DF8;
  background-color: #fff;
  transition: 0.3s;
}

.content-header{
  text-align: center;
}

.plans-header{
  color: #0E0F13;
  font-family: Cabin;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  margin-bottom: 24px;
}

.sub-header{
  color: #7F828A;
  font-family: Cabin;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 120px;
}

.plan-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: flex-end;
}

.plan{
  display: flex;
  border-radius: 24px;
  border: 1px solid #DADADA;
  background: #FDFDFD;
  padding: 56px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  height: 900px;
  gap: 27px;
  margin-bottom: 150px;

}
.plan h2{
  text-align: center;
}
.plan p{
  margin-top: 25px;
  margin-bottom: 25px;
  color: #7F828A;
  text-align: center;
  font-family: Cabin;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.5px;
}

.price-per-month{
  display: flex;
  align-items: center;
  gap: 16px;
}
.price{
color: #0E0F15;
text-align: right;
font-family: Cabin;
font-size: 64px;
font-weight: 500;
line-height: 80px;
letter-spacing: -2.56px;
}
.per-month{
color: #7F828A;
font-family: Cabin;
font-size: 22px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
}

.plan-benefits{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 100px;
}
.plan-benefits-items{
  display: flex;
}

.plan-benefits-item{
  display: flex;
  color: #7F828A;
  font-family: Cabin;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.5px;
  margin-left: 18px;
}
.checkmark{
  width: 20px;
  height: 20px;
  stroke-width: 2px;
  stroke-linecap: round;
}

.plan.pro{
  border-radius: 24px;
  border: 1px solid #161A34;
  background: #161A34;
  height: 950px;

}
.plan-header.pro{
  color: #F6FDFF;
  font-family: Cabin;
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
}
.plan-recommendation.pro{
  color: #F6FDFF;
}
.price.pro{
  color: #F6FDFF;
}

.per-month.pro{
  color: #F6FDFF;
}

.plan-benefits-item.pro{
  color: #F6FDFF;
  margin-bottom: 5px;
}

.btn.plan-link{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-decoration: none;
  color: #F6FDFF;
font-family: Cabin;
font-size: 18px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.72px;
text-transform: uppercase;
}

.logo-name-footer{
  color: #7F828A;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 27px
}

.footer{
  width: 100%;
  display: flex;
justify-content: space-between;
border-top: 1px solid;
}

.logo-footer{
  width: 24px;
  height: 24px;
}
.logo{
  margin: 8px 52px;
}
.footer-text{
  margin: 8px 52px;
  color: #7F828A;
text-align: right;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 27px
}
