@import "./layouts/flex";
@import "./abstracts/variables";


.content{
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
  padding-left: 52px;
  padding-right: 52px;


  &__header{
    border-bottom: 1px solid $main-header-color;
    color: $main-header-color;
    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-bottom: 15px;
    margin-right: 60px;
  }
}



.book-cards__book-row{
  @include flex (row, space-between, center);
  margin-bottom: 36px;

  .book-cards__book-card p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .book-cards__book-card{
    @include flex (column, space-between, center);
    gap: 16px;
    border: 1px solid $header-two-color;
    padding: 32px;
    width: 306px;
    height: 512px;
    position: relative;
  
    .book-card__content{
      @include flex (column,space-evenly, flex-start);
    }
  
    .book-card__book-name{
      border-bottom: 1px solid $main-header-color;
    color: $main-header-color;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    width: 100%;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
  
    .book-card__book-author{
      color: $book-author-border;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }
  
    .book-card__book-price{
      color: $price-color;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
    }
  
    .price{
      margin-top: 8px;
    }
  
    .before-dis-price{
      color: $book-author-border;
      font-family: Cabin;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      text-decoration: line-through;
    }
  
    .label-wrapper{
      display: flex;
      position: absolute;
      left: 30px;
      gap: 3px;
    }
  
    .label{
      border-radius: 4px;
      padding: 8px;
      color: $card-background-color;
      font-family: Cabin;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    
    .hit{
      background-color: $hit-label-color;
    }
    
    .new{
      background-color: $new-label-color;
    }
  
    .discount{
      background: $discount-label-color;
    }
  
    .btn{
      margin-top: 30px;
    }
  } 
}


  
  
    
  
  