.footer{
  @include flex(row, space-between, center);
  background-color: #4C394E;
  height: 90px;
  width: 100%;

  &__text{
    color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 52px;
  }
}
