@import "./abstracts/variables";

.header{
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;

  .header__header-one{
    @include flex (row, space-between, center);
    background-color: #10BBD5;
    padding: 16px 52px;
   
    .header-one__logo{
      display: flex;
      align-items: center;
      color: $card-background-color;
      font-family: Cabin;
      font-size: 24px;
      font-weight: 700;
      text-decoration: none;
    }
  
    .header-one__cart{
      @include flex (row);
      align-items: center;  
    }
  
    .header-one__chart{
      position: relative;
      bottom: 5px;
    }
  
    .chart__wheel-one{
      position: absolute;
      top: 24px;
      left: 8px;
    }
  
    .chart__wheel-two{
      position: absolute;
      top: 24px;
      left: 20px;
    }
  
    .chart__number-of-items{
      position: absolute;
      top: 10px;
      left: 17px;
      color: $header-two-color;
      font-family: Cabin;
      font-size: 12px;
      font-weight: 400;
      line-height: 10px;
    }
  
    .cart__total-price{
      color: $card-background-color;
      font-family: Cabin;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  
  }

  .header_header-two{
    @include flex (row, space-between, center);
    background-color: #fff;
    color: $header-two-color;
    font-family: Cabin;
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px;
    padding: 4px 52px;
  
    .header-two__nav-header{
      color: $header-two-color;
    }
  
    .header-two__nav-items{
      display: flex;
      gap: 10px;
    }
  
    .header-two__nav-items a{
      text-decoration: none;
      color: $header-two-color;
    }
  
    .header-two__nav-items{
      list-style: none;
    }
  }
}