@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Quicksand:wght@500;600;700&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.header .header__header-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #10BBD5;
  padding: 16px 52px;
}
.header .header__header-one .header-one__logo {
  display: flex;
  align-items: center;
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.header .header__header-one .header-one__cart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-items: center;
}
.header .header__header-one .header-one__chart {
  position: relative;
  bottom: 5px;
}
.header .header__header-one .chart__wheel-one {
  position: absolute;
  top: 24px;
  left: 8px;
}
.header .header__header-one .chart__wheel-two {
  position: absolute;
  top: 24px;
  left: 20px;
}
.header .header__header-one .chart__number-of-items {
  position: absolute;
  top: 10px;
  left: 17px;
  color: #000000;
  font-family: Cabin;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
}
.header .header__header-one .cart__total-price {
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header .header_header-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000000;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 52px;
}
.header .header_header-two .header-two__nav-header {
  color: #000000;
}
.header .header_header-two .header-two__nav-items {
  display: flex;
  gap: 10px;
}
.header .header_header-two .header-two__nav-items a {
  text-decoration: none;
  color: #000000;
}
.header .header_header-two .header-two__nav-items {
  list-style: none;
}

.content {
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
  padding-left: 52px;
  padding-right: 52px;
}
.content__header {
  border-bottom: 1px solid #1F1F1F;
  color: #1F1F1F;
  font-family: Cabin;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 15px;
  margin-right: 60px;
}

.book-cards__book-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.book-cards__book-row .book-cards__book-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.book-cards__book-row .book-cards__book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border: 1px solid #000000;
  padding: 32px;
  width: 306px;
  height: 512px;
  position: relative;
}
.book-cards__book-row .book-cards__book-card .book-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.book-cards__book-row .book-cards__book-card .book-card__book-name {
  border-bottom: 1px solid #1F1F1F;
  color: #1F1F1F;
  font-family: Cabin;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  width: 100%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-cards__book-row .book-cards__book-card .book-card__book-author {
  color: #8e8e8e;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.book-cards__book-row .book-cards__book-card .book-card__book-price {
  color: #E90000;
  font-family: Cabin;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.book-cards__book-row .book-cards__book-card .price {
  margin-top: 8px;
}
.book-cards__book-row .book-cards__book-card .before-dis-price {
  color: #8e8e8e;
  font-family: Cabin;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-decoration: line-through;
}
.book-cards__book-row .book-cards__book-card .label-wrapper {
  display: flex;
  position: absolute;
  left: 30px;
  gap: 3px;
}
.book-cards__book-row .book-cards__book-card .label {
  border-radius: 4px;
  padding: 8px;
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.book-cards__book-row .book-cards__book-card .hit {
  background-color: #4200FF;
}
.book-cards__book-row .book-cards__book-card .new {
  background-color: #AF39E7;
}
.book-cards__book-row .book-cards__book-card .discount {
  background: #EA33C0;
}
.book-cards__book-row .book-cards__book-card .btn {
  margin-top: 30px;
}

.btn {
  padding: 8px 24px;
  border-radius: 4px;
  color: #F8FDFE;
  border-style: none;
  width: 242px;
}

.add-to-busket {
  background-color: #4C394E;
}
.add-to-busket:hover {
  background-color: #744978;
  transition: 0.3s;
}

.end-up {
  background-color: #4D762D;
}
.end-up:hover {
  background-color: #6DB236;
  transition: 0.3s;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4C394E;
  height: 90px;
  width: 100%;
}
.footer__text {
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 52px;
}/*# sourceMappingURL=main.css.map */