
.btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  padding: 15px;
  background-color: #8A33FD;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 15px;
  min-width: 192px;
}

.close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 10px;
}

.delete-prod {
  background-color: white;
  color: #8A33FD;
  border: 1px solid black;
}