.user-comment{
  background-color: gray;
  border: black solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}
.user-name{
  color: black;
  font-size: 30px;
}
.title{
  color: black;
}
button{
  color: blue;
  cursor: pointer;
}
.container{
  border: darkgray solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
}
