button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  border: black 1px solid;
  border-radius: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  left: 35%;
}

ul {
  display: block;
  position: absolute;
  left: 30%;
  top: 10%;
}
