@import "./basics/reset";
@import "./abstracts/variables";
@import "./abstracts/flex";

html, body { overflow-x: hidden; }

body { position: relative }

.main__meeting-section{
  background-color: $dark-color;
  padding: 76px 17px;
  position: relative;
  overflow: hidden;


  @media (min-width:$bp-lg) {
    padding-left: 10%;
  }

  &::before{
    content: "";
    background-image: url(../img/Ellipse\ 2.svg) no-repeat;
    position: absolute;
    top: 20px;
    display: block;
    border-radius: 100%;
    border: 1px solid #737373;
    width: 167.488px;
    height: 319.978px;
    transform: rotate(-45deg);
    flex-shrink: 0;
    left: 95%;

    @media (min-width:$bp-md) {
      width: 268px;
      height: 512px;
      top: -10%;
      left: 90%;
    }

    @media (min-width:$bp-lg) {
      left: 80%;
    }
  }

  &::after{
    content: "";
    background-image: url(../img/Ellipse\ 3.svg) no-repeat;
    position: absolute;
    top: 20px;
    display: block;
    border-radius: 100%;
    border: 1px solid #737373;
    width: 167.488px;
    height: 319.978px;
    transform: rotate(45deg); 
    left: 95%;

    @media (min-width:$bp-md) {
      width: 268px;
      height: 512px;
      left: 90%;
      top: -10%;
    }

    @media (min-width:$bp-lg) {
      left: 80%;
    }
  }

}

.meeting-section__content-wrapper{
  @include flex(column, center, flex-start);
  gap: 40px;
  max-width: 300px;

  @media (min-width:$bp-md){
    max-width: 500px;
  }

  @media (min-width:$bp-lg){
    max-width: 900px;
  }
}

.main__meeting-section h2{
  color: #FAEB49;
font-family: DynaPuff;
font-size: 36px;
font-weight: 700;
}

.main__meeting-section p{
  color: $white;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  width: 90%;
}

.meeting-section__statistics-columns{
  @include flex(row, center, center);

 @media (min-width:$bp-lg){
  gap: 96px;
 }
}

.meeting-section__statistics{
  @include flex(column, center, center);
  gap: 5px;
  width: 25%;

  @media (min-width:$bp-lg){
  width: fit-content;
}
}

.meeting-section__statistics p{
  color: $white;
font-family: DynaPuff;
font-size: 36px;
font-weight: 700;
}

.meeting-section__statistics span{
  color: $white;
font-family: Manrope;
font-size: 16px;
font-weight: 700;
}

.main__apps{
  background-color: $dark-white-color;
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding: 52px 16px 85px;
  min-width: 320px;

  @media (min-width:$bp-md){
    padding-right: 32px;
    padding-left: 32px;
  }

  @media (min-width:$bp-lg){
    padding-right: 195px;
    padding-left: 195px;
  }
}



.apps__card {
  @include flex (column, flex-start, center);
  gap: 20px;
  padding: 16px;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  border-radius: 24px;
  background: $card-background-color;
  position: relative;
  text-decoration: none;

  @media (min-width:$bp-md){
    padding: 24px 20px;
  }
}

.apps__card-wrapper{

  @media (min-width:$bp-md){
    @include flex (row, center, center);
    gap: 40px;
    max-width: 1000px;
  }
}

.tablet-card{
  display: none;

  @media (min-width:$bp-md){
    display: block;
    display: flex;
  }
}

.desctop-card{
  display: none;

  @media (min-width:$bp-lg){
    display: block;
    display: flex;
  }
}

.main-card{
  @media (min-width:$bp-md){
    max-width: 1000px;
  }

  @media (min-width:$bp-lg){
    max-width: 1300px;
  }
}


.apps__card img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  aspect-ratio: 0.65;
  border-radius: 13px;
}

.main-card img{
  height: 70%;
  aspect-ratio: 1.11;

  @media (min-width:$bp-md){
    aspect-ratio: 1.33;
  }

  @media (min-width:$bp-lg){
    aspect-ratio: 2.02;
  }

}

.apps__card h3{
  color: $card-header-color;
  font-family: DynaPuff;
  font-size: 24px;
  font-weight: 600;
}

.apps__card p{
  color: $black;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;

  @media (min-width:$bp-md){
  font-size: 16px;
  }

}

.main__card h3{
  color: $card-header-color;
  font-family: DynaPuff;
  font-size: 32px;
  font-weight: 600;

  @media (min-width:$bp-md){
  font-size: 40px;
}
}

.design__img{
  width: 100%;
  aspect-ratio: 1.05;
  object-fit: cover;
  border-radius: 40px;
  filter: grayscale(100%);
  margin-bottom: 32px;
}

.design__img-one,
.design__img-two,
.design__img-three{
  position: relative;
  width: 100%;
  max-width: 500px;

  @media (min-width:$bp-md){
    max-width: 1000px;
  }

  @media (min-width:$bp-lg){
    max-width: 1100px;
  }
}


.main__design{
  background-color: $dark-color;
  padding: 58px 16px 93px;
  width: 100%;

  @media (min-width:$bp-md){
    padding: 82px 32px 130px;
  }

  @media (min-width:$bp-lg){
    padding: 82px 190px 140px;
  }
}

.design__img-one{
  @media (min-width:$bp-md) {
    max-width: 1000px;
  }

  @media (min-width:$bp-lg) {
    max-width: 1300px;
  }
}

.design__card-wrapper{
  @include flex (column, center, center);

  @media (min-width:$bp-md){
    display: grid;
    justify-content: center;
    align-items: start;
    gap: 26px;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "one one"
    "two three";
  }
}

.design__img-one{
  grid-area: one;
  position: relative;

  &::before{
    content: ' ';
    position: absolute;
    background-image: url(../img/design/SoftStar.png);
    background-repeat: no-repeat;
    width: 172px;
    height: 172px;
    z-index: 100;
    top: 25%;
    left: 25%;

    @media (min-width:$bp-md){
      top: 30%;
      left: 37%;
    }

    @media (min-width:$bp-lg){
      left: 45%;
    }

  }
}

.design__img-two{
  grid-area: two;

  position: relative;

  &::before{
    content: ' ';
    position: absolute;
    background-image: url(../img/design/Butterfly.png);
    background-repeat: no-repeat;
    width: 172px;
    height: 172px;
    z-index: 100;
    top: 30%;
    left: 30%;
  }
}

.design__img-three{
  grid-area: three;
  position: relative;

  &::before{
    content: ' ';
    position: absolute;
    background-image: url(../img/design/Asterisk\ 1.png);
    background-repeat: no-repeat;
    width: 172px;
    height: 172px;
    z-index: 100;
    top: 30%;
    left: 30%;
  }
}

.design__img-two img,
.design__img-three img{
  width: 100%;
  max-width: 500px;
  height: fit-content;
  aspect-ratio: 1.05;

  @media (min-width:$bp-md){
    aspect-ratio: 1,03;
    flex-shrink: 0;
    max-width: 1000px;
  }

  @media (min-width:$bp-lg){
    aspect-ratio: 1.24;
    flex-shrink: 0;
    max-width: 1300px;
  }
}

.design__img-one img{
  width: 100%;
  height: fit-content;
  aspect-ratio: 1.05;

  @media (min-width:$bp-md){
    aspect-ratio: 1.70;
    max-width: 1000px;
  }

  @media (min-width:$bp-lg){
    aspect-ratio: 2.54;
    max-width: 1300px;
  }
}

.main__quote{
 background: url(../img/Rectangle\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 50% left 50%;
  height: 500px;
  position: relative;
  @media (min-width:$bp-md){
    padding: 270px 32px 280px;
  }

  @media (min-width:$bp-lg){
    padding: 300px 80px 320px 80px;
  }
}


.main__quote p{
  color: $white;
  text-align: center;
  font-family: DynaPuff;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width:$bp-md){
    font-size: 48px;
  }

  @media (min-width:$bp-lg){
    padding-left: 200px;
    padding-right: 200px;
  }
}
