@import "./basics/reset";
@import "./abstracts/variables";
@import "./abstracts/flex";

.footer{
  background-color: $dark-color;
  padding: 53px 16px 40px;
  @include flex(column,space-between,center);

  @media (min-width:$bp-md){
    padding: 96px 22px 35px;
  }

  @media (min-width:$bp-lg){
    padding: 78px 260px;
  }
}

.footer__link{
  border-radius: 139px;
  border: 1px solid var(--Gray-6, #F2F2F2);
  padding: 5px;
  display: flex;
  width: fit-content;
  min-width: 300px;
  gap: 20px;
  z-index: 10;
  text-decoration: none;
  margin-bottom: 113px;

  @media (min-width:$bp-md){
    padding: 15px;
    margin-bottom: 60px;
  }

  @media (min-width:$bp-lg){
    padding: 42px 100px;
    margin-bottom: 163px;
  }
}

.footer__link img{
  width: 52px;
  height: 51px;

  @media (min-width:$bp-md){
    width: 108px;
    height: 108px;
  }
}

.footer__link div{
  @include flex(column,space-between,flex-start)
}

.link__header{
  color: $white;
  text-align: center;
  font-family: DynaPuff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;

  @media (min-width:$bp-md){
    font-size: 48px;
  }
}

.link__sub-header{
  color: $white;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  position: relative;

  @media (min-width:$bp-md){
    font-size: 24px;
  }

  &::after{
    content: ' ';
    background-image: url(../img/Group\ 2.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 36.788px;
    height: 15.5px;
    top: 0;
    left: 120%;
    z-index: 100;

    @media (min-width:$bp-md){
      width: 55px;
      height: 26px;
    }

  }
}

.footer__link-wrapper{
  @include flex(row, center, center);
  gap: 34px;
  margin-bottom: 20px;
}

.footer__text{
  color:$white;
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}