@import "./basics/reset";
@import "./abstracts/variables";
@import "./abstracts/flex";

.header{
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
  @include flex (column, space-between, center);
  padding: 27px 17px;

  @media (min-width:$bp-md){
    padding: 38px 34px;
  }

  @media (min-width:$bp-lg){
    justify-content: space-around;
    padding-left: 10%;

    .header__logo{
      padding-top: 41px;
    }
  }
}

.header__fixed-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__nav-mobile{
  background-color: transparent;
  padding: 20px;
  border: 2px solid $white;
  border-radius: 20px;

  @media (min-width:$bp-lg){
    display: none;
  }
}

.header__text{
  padding-top: 329px;
  padding-bottom: 149px;
  color: $white;
  font-family: DynaPuff;
  font-size: 48px;
  font-weight: 700;

  @media (min-width:$bp-md) {
    color: $white;
    font-family: DynaPuff;
    font-size: 80px;
    font-weight: 700;
    padding-right: 200px;
    padding-bottom: 130px;
  }

  @media (min-width:$bp-lg){
    padding-bottom: 119px;
  }
}

.nav-desktop__items{
  display: none;

  @media (min-width:$bp-md){
    display: none;
  }

  @media (min-width:$bp-lg){
  display: block;
  display: flex;
  gap: 20px;
  padding-top: 47px;

  .li-item{
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid $white;
    color: $white;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700; 
  }
  }
}