* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 27px 17px;
}
@media (min-width: 768px) {
  .header {
    padding: 38px 34px;
  }
}
@media (min-width: 1200px) {
  .header {
    justify-content: space-around;
    padding-left: 10%;
  }
  .header .header__logo {
    padding-top: 41px;
  }
}

.header__fixed-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__nav-mobile {
  background-color: transparent;
  padding: 20px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}
@media (min-width: 1200px) {
  .header__nav-mobile {
    display: none;
  }
}

.header__text {
  padding-top: 329px;
  padding-bottom: 149px;
  color: #FFFFFF;
  font-family: DynaPuff;
  font-size: 48px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header__text {
    color: #FFFFFF;
    font-family: DynaPuff;
    font-size: 80px;
    font-weight: 700;
    padding-right: 200px;
    padding-bottom: 130px;
  }
}
@media (min-width: 1200px) {
  .header__text {
    padding-bottom: 119px;
  }
}

.nav-desktop__items {
  display: none;
}
@media (min-width: 768px) {
  .nav-desktop__items {
    display: none;
  }
}
@media (min-width: 1200px) {
  .nav-desktop__items {
    display: block;
    display: flex;
    gap: 20px;
    padding-top: 47px;
  }
  .nav-desktop__items .li-item {
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
  }
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.main__meeting-section {
  background-color: #202020;
  padding: 76px 17px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .main__meeting-section {
    padding-left: 10%;
  }
}
.main__meeting-section::before {
  content: "";
  background-image: url(../img/Ellipse\ 2.svg) no-repeat;
  position: absolute;
  top: 20px;
  display: block;
  border-radius: 100%;
  border: 1px solid #737373;
  width: 167.488px;
  height: 319.978px;
  transform: rotate(-45deg);
  flex-shrink: 0;
  left: 95%;
}
@media (min-width: 768px) {
  .main__meeting-section::before {
    width: 268px;
    height: 512px;
    top: -10%;
    left: 90%;
  }
}
@media (min-width: 1200px) {
  .main__meeting-section::before {
    left: 80%;
  }
}
.main__meeting-section::after {
  content: "";
  background-image: url(../img/Ellipse\ 3.svg) no-repeat;
  position: absolute;
  top: 20px;
  display: block;
  border-radius: 100%;
  border: 1px solid #737373;
  width: 167.488px;
  height: 319.978px;
  transform: rotate(45deg);
  left: 95%;
}
@media (min-width: 768px) {
  .main__meeting-section::after {
    width: 268px;
    height: 512px;
    left: 90%;
    top: -10%;
  }
}
@media (min-width: 1200px) {
  .main__meeting-section::after {
    left: 80%;
  }
}

.meeting-section__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 300px;
}
@media (min-width: 768px) {
  .meeting-section__content-wrapper {
    max-width: 500px;
  }
}
@media (min-width: 1200px) {
  .meeting-section__content-wrapper {
    max-width: 900px;
  }
}

.main__meeting-section h2 {
  color: #FAEB49;
  font-family: DynaPuff;
  font-size: 36px;
  font-weight: 700;
}

.main__meeting-section p {
  color: #FFFFFF;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  width: 90%;
}

.meeting-section__statistics-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .meeting-section__statistics-columns {
    gap: 96px;
  }
}

.meeting-section__statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 25%;
}
@media (min-width: 1200px) {
  .meeting-section__statistics {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.meeting-section__statistics p {
  color: #FFFFFF;
  font-family: DynaPuff;
  font-size: 36px;
  font-weight: 700;
}

.meeting-section__statistics span {
  color: #FFFFFF;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
}

.main__apps {
  background-color: #3C3C3C;
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding: 52px 16px 85px;
  min-width: 320px;
}
@media (min-width: 768px) {
  .main__apps {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 1200px) {
  .main__apps {
    padding-right: 195px;
    padding-left: 195px;
  }
}

.apps__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 16px;
  width: 100%;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 24px;
  background: #FFFEF2;
  position: relative;
  text-decoration: none;
}
@media (min-width: 768px) {
  .apps__card {
    padding: 24px 20px;
  }
}

@media (min-width: 768px) {
  .apps__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
  }
}

.tablet-card {
  display: none;
}
@media (min-width: 768px) {
  .tablet-card {
    display: block;
    display: flex;
  }
}

.desctop-card {
  display: none;
}
@media (min-width: 1200px) {
  .desctop-card {
    display: block;
    display: flex;
  }
}

@media (min-width: 768px) {
  .main-card {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .main-card {
    max-width: 1300px;
  }
}

.apps__card img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 0.65;
  border-radius: 13px;
}

.main-card img {
  height: 70%;
  aspect-ratio: 1.11;
}
@media (min-width: 768px) {
  .main-card img {
    aspect-ratio: 1.33;
  }
}
@media (min-width: 1200px) {
  .main-card img {
    aspect-ratio: 2.02;
  }
}

.apps__card h3 {
  color: #565656;
  font-family: DynaPuff;
  font-size: 24px;
  font-weight: 600;
}

.apps__card p {
  color: #000000;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .apps__card p {
    font-size: 16px;
  }
}

.main__card h3 {
  color: #565656;
  font-family: DynaPuff;
  font-size: 32px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .main__card h3 {
    font-size: 40px;
  }
}

.design__img {
  width: 100%;
  aspect-ratio: 1.05;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  filter: grayscale(100%);
  margin-bottom: 32px;
}

.design__img-one,
.design__img-two,
.design__img-three {
  position: relative;
  width: 100%;
  max-width: 500px;
}
@media (min-width: 768px) {
  .design__img-one,
  .design__img-two,
  .design__img-three {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .design__img-one,
  .design__img-two,
  .design__img-three {
    max-width: 1100px;
  }
}

.main__design {
  background-color: #202020;
  padding: 58px 16px 93px;
  width: 100%;
}
@media (min-width: 768px) {
  .main__design {
    padding: 82px 32px 130px;
  }
}
@media (min-width: 1200px) {
  .main__design {
    padding: 82px 190px 140px;
  }
}

@media (min-width: 768px) {
  .design__img-one {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .design__img-one {
    max-width: 1300px;
  }
}

.design__card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .design__card-wrapper {
    display: grid;
    justify-content: center;
    align-items: start;
    gap: 26px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "one one" "two three";
  }
}

.design__img-one {
  grid-area: one;
  position: relative;
}
.design__img-one::before {
  content: " ";
  position: absolute;
  background-image: url(../img/design/SoftStar.png);
  background-repeat: no-repeat;
  width: 172px;
  height: 172px;
  z-index: 100;
  top: 25%;
  left: 25%;
}
@media (min-width: 768px) {
  .design__img-one::before {
    top: 30%;
    left: 37%;
  }
}
@media (min-width: 1200px) {
  .design__img-one::before {
    left: 45%;
  }
}

.design__img-two {
  grid-area: two;
  position: relative;
}
.design__img-two::before {
  content: " ";
  position: absolute;
  background-image: url(../img/design/Butterfly.png);
  background-repeat: no-repeat;
  width: 172px;
  height: 172px;
  z-index: 100;
  top: 30%;
  left: 30%;
}

.design__img-three {
  grid-area: three;
  position: relative;
}
.design__img-three::before {
  content: " ";
  position: absolute;
  background-image: url(../img/design/Asterisk\ 1.png);
  background-repeat: no-repeat;
  width: 172px;
  height: 172px;
  z-index: 100;
  top: 30%;
  left: 30%;
}

.design__img-two img,
.design__img-three img {
  width: 100%;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1.05;
}
@media (min-width: 768px) {
  .design__img-two img,
  .design__img-three img {
    aspect-ratio: 1, 3;
    flex-shrink: 0;
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .design__img-two img,
  .design__img-three img {
    aspect-ratio: 1.24;
    flex-shrink: 0;
    max-width: 1300px;
  }
}

.design__img-one img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1.05;
}
@media (min-width: 768px) {
  .design__img-one img {
    aspect-ratio: 1.7;
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .design__img-one img {
    aspect-ratio: 2.54;
    max-width: 1300px;
  }
}

.main__quote {
  background: url(../img/Rectangle\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 50% left 50%;
  height: 500px;
  position: relative;
}
@media (min-width: 768px) {
  .main__quote {
    padding: 270px 32px 280px;
  }
}
@media (min-width: 1200px) {
  .main__quote {
    padding: 300px 80px 320px 80px;
  }
}

.main__quote p {
  color: #FFFFFF;
  text-align: center;
  font-family: DynaPuff;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .main__quote p {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .main__quote p {
    padding-left: 200px;
    padding-right: 200px;
  }
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer {
  background-color: #202020;
  padding: 53px 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    padding: 96px 22px 35px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 78px 260px;
  }
}

.footer__link {
  border-radius: 139px;
  border: 1px solid var(--Gray-6, #F2F2F2);
  padding: 5px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  gap: 20px;
  z-index: 10;
  text-decoration: none;
  margin-bottom: 113px;
}
@media (min-width: 768px) {
  .footer__link {
    padding: 15px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .footer__link {
    padding: 42px 100px;
    margin-bottom: 163px;
  }
}

.footer__link img {
  width: 52px;
  height: 51px;
}
@media (min-width: 768px) {
  .footer__link img {
    width: 108px;
    height: 108px;
  }
}

.footer__link div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.link__header {
  color: #FFFFFF;
  text-align: center;
  font-family: DynaPuff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .link__header {
    font-size: 48px;
  }
}

.link__sub-header {
  color: #FFFFFF;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}
@media (min-width: 768px) {
  .link__sub-header {
    font-size: 24px;
  }
}
.link__sub-header::after {
  content: " ";
  background-image: url(../img/Group\ 2.svg);
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 36.788px;
  height: 15.5px;
  top: 0;
  left: 120%;
  z-index: 100;
}
@media (min-width: 768px) {
  .link__sub-header::after {
    width: 55px;
    height: 26px;
  }
}

.footer__link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 34px;
  margin-bottom: 20px;
}

.footer__text {
  color: #FFFFFF;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}/*# sourceMappingURL=main.css.map */