.header{
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.header-one,.header-two{
  display: flex;
  justify-content: space-between;
  background-color:  #10BBD5;
}

.logo-name{
  display: flex;
  align-items: center;
}
.header-cart{
  display: flex;
  align-items: center;
}

.chart{
  position: relative;
  bottom: 5px;
  }
  
  .chart-wheel-one{
    position: absolute;
    top: 24px;
    left: 8px;
  }
  
  .chart-wheel-two{
    position: absolute;
    top: 24px;
    left: 20px;
  }

  .number-of-items{
    position: absolute;
    top: 9px;
    left: 15px;
    color: #000;
    font-family: Cabin;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
  }

.header-two{
  background-color: #fff;
  color: #000;
  font-family: Cabin;
  font-size: 16px; 
  font-weight: 400;
  line-height: 24px;
}

.category-option a{
  text-decoration: none;
  color: #1F1F1F;
}

.nav-items{
display: flex;
gap: 10px;
}

.nav-item{
  text-decoration: none;
  color: #1F1F1F;
}

.total-price{
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}


.logo-name,.nav-items,.header-cart,.category-option{
  margin: 16px 52px;
}

.content{
  margin-top: 120px;
  position: relative;
}

.content-header{
  border-bottom: 1px solid #000;
  color: #1F1F1F;
  font-family: Cabin;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding: 23px;
  margin-bottom: 15px;
  margin-left: 60px;
  margin-right: 60px;
}

.chat-icon{
  position: sticky;
  top: 600px;
  left: 1300px;
  border-radius: 100%;
  z-index: 10;
}

.book-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.book-row.three{
  margin-bottom: 60px;
}

.book-offer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #000;
  padding: 32px;
  margin-bottom: 20px;
  width: 306px;
  height: fit-content;
  position: relative;
}

.book-image{
  align-self: center;
}


.btn{
padding: 8px 24px;
border-radius: 4px;
color: #fff;
border-style: none;
}

.add-to-busket{
  background-color:  #4C394E;
}

.add-to-busket:hover{
  background-color: #744978;
  transition: 0.3s;
}

.end-up{
  background-color: #4D762D;
}

.end-up:hover{
  background-color: #6DB236;
  transition: 0.3s;
}

.book-name{
  border-bottom: 1px solid #1F1F1F;
  color: #1F1F1F;
  font-family: Cabin;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author{
  color: #8e8e8e;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.book-price{
  color: #E90000;
  font-family: Cabin;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.before-dis-price{
  color: #8E8E8E;
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-decoration: line-through;
}

.label-wrapper{
  display: flex;
  position: absolute;
  left: 30px;
  gap: 3px;
}

.label{
  border-radius: 4px;
  padding: 8px;
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hit{
  background-color: #4200FF;
}

.new{
  background-color: #AF39E7;
}

.discount{
  background: #EA33C0;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4C394E;
  height: 90px;
}

.footer-text{
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 52px;
}