$primary-color:#10BBD5;
$secondary-color:#4C394E;
$header-two-color:#000000;
$main-header-color:#1F1F1F;
$price-color:#E90000;
$card-background-color:#F8FDFE;
$button-add-hoved-color:#744978;
$button-end-up-hover-color:#6DB236;
$button-end-up-color:#4D762D;
$book-author-border:#8e8e8e;
$hit-label-color:#4200FF;
$new-label-color:#AF39E7;
$discount-label-color:#EA33C0;
