.modal h1 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  color: #191919;
}
.modal p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: #7F7F7F;
}

.modal-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  width: 560px;
  position: absolute;
  left: 25%;
  top: 25%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 1001;
}

.modal-background-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}/*# sourceMappingURL=modal.css.map */