:root{
  --main-color: #1F1F1F;
}


.header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}


.header-one{
  display: flex;
  justify-content: space-between;
  background-color: #6D91DC;
}

.logo a{
  display: flex;
  align-items: center;
  margin: 16px 52px;
  text-decoration: none;
  color: #F8FDFE;
  font-family: Rochester;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}

.logo-svg{
  width: 38px;
  height: 38px;
}

.total{
  display: flex;
  align-items: center;
  margin: 16px 52px;
}

.total-price{
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.header-two{
  display: flex;
  justify-content: space-between;
  background-color: #F8FDFE;
}

.cart{
  margin-left: 24px;
}

.cart-item{
  position: absolute;
  right: 65px;
}

.nav-header ul{
  display: flex;
  gap: 40px;
}

.nav-item a, .menu-option{
  text-decoration: none;
  color:var(--main-color);
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.nav-header{
  margin: 4px 52px;
}

.menu-option{
  margin: 4px 30px;
}

.content{
  background-color: #F5F5F5;
  height: 1400px;
}

.content-header{
  color:var(--main-color);
  font-family: Cabin;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 100px;
  margin-left: 35px;
  padding: 23px;
}

.form{
  display: flex;
  justify-content: space-around;
  margin-left: 52px;
  margin-right: 52px;
  border-top: 1px solid #1F1F1F;
}

.personal-info-input{
  border-radius: 4px;
  border: 1px solid #8E8E8E;
  background-color: #F5F5F5;
  width: 416px;
  padding: 10px;
  color: var(--main-color);
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.personal-info-input::placeholder{
  color: #8E8E8E;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.personal-info-input:focus{
  border-radius: 4px;
  border: 1.5px solid #2080F6;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}

.personal-info-input:focus::placeholder{
  color: transparent;
}

.label-header{
  color: var(--main-color);
  font-family: Cabin;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 8px;
}

.option{
  color: var(--main-color);
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
 
.option.input-header{
  margin-top: 16px;
  margin-bottom: 8px;
}

.call-header{
  margin-bottom: 3px;
}

.payment{
  margin-bottom: 24px;
}

.label-sub-header{
  color: #8E8E8E;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.date{
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 19px;
}

.area{
  border-radius: 4px;
  border: 1px solid #8E8E8E;
  background: #F5F5F5;
}

#order-comment,#delivery-adress{
  resize: none;
}

.order{
  border-radius: 4px;
  background-color: #F8FDFE;
  height: fit-content;
  padding: 40px;
  margin-top: 30px;
}

.your-order{
  display: flex;
  gap: 24px;
  padding: 32px;
  margin-bottom: 32px;
}


.amount-button{
  border: 1px solid #1F1F1F;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 20px;
}

.minus-plus{
  border: none;
  background-color: #F8FDFE;
}

.type-gram-amount{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.sushi-type{
  color: var(--main-color);
  font-family: Cabin;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3px;
}

.sushi-price{
  color: #E90000;
  font-family: Cabin;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.portion{
  overflow: hidden;
  color: #8E8E8E;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-top: 1px solid #8E8E8E;
}

.order-header{
  color: var(--main-color);
  font-family: Cabin;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.summarise{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  border-top: 1px solid #1F1F1F;
  padding: 25px;
}

.btn{
  padding: 8px 24px;
  color:  #F8FDFE;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  border: none;
  width: 215px;
  margin-top: 16px;
  margin-left: 10px;
}

.submit{
  background-color: #3D76BA;
}

.submit:hover{
  background-color: #63A1EB;
  transition: 0.3s;
}

.reset{
  background-color: #DEDEDE;
  color: #1F1F1F;
}

.reset:hover{
  background-color: #EEEEEE;
  transition: 0.3s;
}

.footer{
  background-color: #6D91DC;
  display: flex;
  justify-content: space-between;
}

.footer-text{
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 32px 52px;
}







