*{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 1400px;
  width: fit-content;
  font-family: 'Inter', sans-serif;
  
}

.nav-menu{
  width: fit-content;
  padding: 32px 0;
  margin: 0 auto;
  color: #000;
 font-size: 18px;
 font-weight: 400;
 line-height: 24.3px;

}
.nav-link{
  text-decoration: none;
  color: black;
}
.nav-item{
  display: inline-block;
  padding: 0 30px;
}

#picture{
  width: 100%;
}
main{
  margin: auto;
  width: 50%;
}
h2{
  margin-top: 90px;
  margin-bottom: 40px;
  text-align: center;
}
.p-text{
  margin-bottom: 24px;
  color: #161616;
 font-size: 21px;
 font-weight: 500;
 line-height: 31.5px;
}
.text-mark{
  color: #04959E;
}
.content-list{
  padding: 0 10px;
  margin-bottom: 40px;
  color: #161616;
  font-size: 18px;
 font-weight: 400;
 line-height: 27px;
}
.learn-more-button{
  display: grid;
  margin: auto;
  background-color:  #04959E;
  border: none;
  color: #FFFFFF;
  padding: 10px 24px;
  margin-bottom: 90px;
}
.text-mark{
  color: #04959E;
}
.footer-text{
  text-align: center;
  color: #161616;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}

