.footer{
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 32px 8px;
  min-width: 320px;
}

.footer__logo-footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 12px;
}

.footer__logo-footer p{
  width: 100%;
  padding-left: 10px;
}

.footer__logo-footer img{
  width: 40%;
  margin: 0 auto;
}

.footer__links-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.links a{
  margin: 24px;
}

@media (min-width: 768px){
  .footer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 32px 8px;
    height: 160px;
  }

  .footer__logo-footer img{
    margin-left: 0px;
  }

  .footer__logo-footer{
    gap: 40px;
    padding-right: 200px;
  }

  .footer__links-footer{
    gap: 60px;
  }
  
}

@media (min-width: 1200px){
.footer__links-footer{
  padding-left: 400px;
}
}