
.header{
  padding: 16.5px 8px;
  display: flex;
  justify-content: space-between;
  min-width: 330px;
  margin-bottom: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  min-width: 320px;
}

.header__logo{
  margin-left: 70px;
  align-self: center;
}

.mobile-nav-bar {
  height: 3px;
  width: 26px;
  border-top: 3px solid #fff;
  margin-top: 6px;
}

.btn {
  color: #fff;
background-color: #0F8277;
text-align: center;
font-family: Quicksand;
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
border: none;
border-radius: 4px;
padding: 10px 12px;
height: fit-content;
min-width: 36px;
min-height: 36px;
}

.burger-menu {
  background-color: #0F8277;
  width: 42px;
  height: 38px;
  padding: 13px 14px;
  position: absolute;
  top: 16.5px;
  left: 8px;
  border: none;
  padding: 10px 8px 15px 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__search{
  display: none;
}

.search{
  display: none;
}

.explore{
  display: none;
}

.header__search-bar{
  display: none;
}

.header__links{
  display: none;
}

.search-tablet{
  display: none;
}

.log-in{
  background-color: #fff;
  color: #0F8277;
}

.header__search-svg{
  width: 16.007px;
  height: 16.007px;
}


@media (min-width: 768px)  {
  .header{
    padding-left: 16.5px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__links-btns{
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .search-tablet{
    background-image: url(../images/svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
  }

  .header__logo{
    margin-left: 70px;
  }

}

@media (min-width: 1200px){
  .header{
    display: flex;
    justify-content: space-between;
    max-width: 1368px;
  }

  .header__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
  }

  .header__links-btns{
    display: flex;
    align-items: center;
    gap: 104px;
  }

  .header__logo{
    margin-left: 36px;
  }

  .burger-menu{
    display: none;
  }

  .explore{
    display: inline-block;
  }

  .header__search-input{
    border: none;
    padding: 5px 12px;
  }

  .header__search-input::placeholder{
    color: #5C5C5C;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
  }

  .header__search-input:focus{
    outline: none;
  }

  .header__search{
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 36px;
  }

  .search-btn-desctop{
    background-image: url(../images/svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
  }

  .search-tablet{
    display: none;
  }

  .header__links{
    align-self: center;
    display: flex;
    gap: 44px;
  }

  .header__links a{
    text-decoration: none;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
  }


}



