@import url(./footer.css);
@import url(./header.css);

:root{
  --main-color: #0F8277;
--background-color: #DBF3ED;
}

main{
  min-width: 320px;
}

.main section{
  margin-bottom: 64px;
}

.section-margin{
  margin-left: 8px;
  margin-right: 8px;
}

.section-padding{
  padding-top: 64px;
  padding-bottom: 64px;
}

.body__learnning{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 64px;
  background-color: var(--background-color);
  width: 100%;
  min-width: 320px;
  height: 575px;
  padding: 118px 16px;
}

.body__learnning h1{
  color: #000;
font-family: Quicksand;
font-size: 46px;
font-weight: 700;
line-height: 55.2px
}

.body__learnning p{
  color: #000;
font-family: Quicksand;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 21.6px */
}


.learn-more{
  background-color: transparent;
  color: var(--main-color);
  border-radius: 4px;
  border: 2px solid var(--main-color); 
}

.learninng__buttons{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.course-link{
  color: var(--main-color);
font-family: Quicksand;
font-size: 16px;
font-weight: 700;
line-height: 19.2px;
text-decoration: none;
}

.main__academic-learnning{
  margin-bottom: 83px;
}

.section-header{
  color: #000;
font-family: Quicksand;
font-size: 30px;
font-weight: 700;
line-height: 36px;
margin-top: 12px;
margin-bottom: 12px;
width: 70%;
}

.section-sub-header{
  color: #000;
font-family: Quicksand;
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
width: 80%;
}


.card{
  border-radius: 8px;
  border: 1px solid #DADADA;
  margin-bottom: 32px;
}


.card__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 24px 16px;
}

.card__logo{
  margin-bottom: 16px;
  width: 72px;
  height: 20px;
}

.academic-learnning__img{
  width: 100%;
  height: 278px;
  border-radius: 8px;
}

.academic-learnning__logo{
 margin-right: 12px;
}

.card__logo{
display: flex;
align-items: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
text-overflow: ellipsis;
white-space: nowrap;
font-family: Quicksand;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
}

.card__header{
  color: #000;
font-family: Quicksand;
font-size: 18px;
font-weight: 700;
line-height: 120%; /* 21.6px */
}

.card-wrapper a{
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.education-link{
color: var(--main-color);
font-family: Quicksand;
font-size: 14px;
font-weight: 500;
line-height: 120%; /* 16.8px */
}

.course-specialization__img{
  width: 100%;
height: 278px;
border-radius: 8px;
}

.cources-card-logo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.more-link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-link{
  text-decoration: none;
  color: var(--main-color);
font-family: Quicksand;
font-size: 16px;
font-weight: 700;
line-height: 19.2px;
margin-bottom: 64px;
}

.more-link svg{
  width: 20px;
  height: 20px;
  margin-left: 16px;
}

.featured-categories__column-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  
  
}

.featured-categories__column{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}

.featured-categories{
  margin-bottom: 70px;
}

.main__parners{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 64px 8px;
  width: 100%;
}

.main__parners p{
  text-align: center;
  margin: 0 auto;
}

.logo-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 14px;
}

.logo-wrapper img{
  width: 25%;
}

.logo-wrapper img:nth-child(4),
.logo-wrapper img:nth-child(5){
  width: 10%;
}

.business-colutions__btn{
  width: 100%;
  margin-bottom: 32px;
  color: #EEEEEE;
}

.main__business-solutions{
  margin-bottom: 64px;
}

.business-solutions__logos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 66px;
  align-items: center;
  max-width: 390px;
  margin: 0 auto;
}

.business-solutions__logos img{
  position: relative;
  box-sizing: content-box;
  
}

.grid-item{
  padding: 10px;
  width: 130px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-two,
.grid-eight{
  border-left: 1px solid #BABABA;
  border-right: 1px solid #BABABA;
}

.grid-four,
.grid-six{
  border-top: 1px solid #BABABA;
  border-bottom: 1px solid #BABABA;
}

.grid-five{
  border: 1px solid #BABABA;
}

.img-one,
.img-four,
.img-seven{
  width: 80%;
  max-width: 150px;
}

.img-two,
.img-five,
.img-eight{
  width: 35%;
  max-width: 62px;
}

.img-three,
.img-six,
.img-nine{
  width: 65%;
  max-width: 151px;
}


.main__plan-cards{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 80px;
  background-color: var(--background-color);
}

.plans-crds{
  display: flex;
  flex-direction: column;
  gap: 32px;

}

.plan-header{
  text-align: center;
  margin: 0 auto;
}

.plan-cards__card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 390px;
  padding: 32px;
  border-radius: 24px;
  border: 1px solid var(--main-color);
  background: #FDFDFD;
}

.card__sub-header{
  color: #000;
text-align: center;
font-family: Quicksand;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
}

.card__upper-content{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 32px;
}

.plan-cards__card button{
  width: 100%;
}

.card__benefits{
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: baseline;
}

.btn-plus{
  border-radius: 4px;
border: 2px solid #FFF;  
}

.card__li-item{
  border-top: 2px solid var(--main-color);
padding-top: 32px;
}

.card__benefits li{
  position: relative;
}

.card__price-number{
  color: #000;
text-align: center;
font-family: Quicksand;
font-size: 30px;
font-weight: 700;
line-height: 36px;
}

.checkmark::before{
  content: "";
  background-image: url(../images/svg/checkmark.svg);
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  z-index: 1;
  left: -20px;
}

.plan-plus {
  background-color: var(--main-color);
  height: 540px;
}

.card__li-item-plus{
  border-top: 2px solid #FFF;
padding-top: 32px;
}

.plan-plus p,
span{
  color: #FFFFFF;
}

.price-plus{
  color: #FFFFFF;
}

.benefits-plus{
  color: #FFFFFF;
}

.plus-checkmark::before{
  content: "";
  background-image: url(../images/svg/checkmark-plus.svg);
  background-color: #FFFFFF;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  z-index: 1;
  left: -20px;
}

.annual-card{
  height: 490px;
}

.our-students__student-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-students__student-img img:nth-child(5){
  grid-column: span 2;
  grid-row: span 2;
}

.our-students__student-img img{
  width: 100%;
  height: 100%;
}

.main__contact-us-form{
  background-color: var(--background-color);
  width: 100%;
  padding: 64px 8px;
}


.main__form input::placeholder,
.main__form textarea::placeholder{
color: #8E8E8E;
font-family: Quicksand;
font-size: 16px;
font-weight: 500;
line-height: 24px;
padding: 12px;
}

.main__form input,
.main__form textarea{
  padding: 12px;
}

.main__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.form-btn{
  width: 100%;
}

.main__form-header{
  margin-bottom: 24px;
}


@media (min-width: 768px) {
  .body__learnning{
    align-items: flex-start;
    padding: 103px 370px 104px 64px;

    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 50%;

    margin-left: 12px;
    margin-right: 12px;
  }

  .learninng__buttons{
    flex-direction: row;
  }

  .card-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .academic-learnning__card{
    width: 33%;
  }

  .card__content{
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
  }

  .academic-learnning__img{
    height: 180px;
  }

  .course-specialization__img{
    height: 160px;
  }

  .course-specialization__card{
    width: 25%;
  }

  .course-specialization__card .card__content{
    width: 168px;
    height: 230px;
    display: flex;
    justify-content: space-between;
  }

  .featured-categories__column-wrapper{
    margin-top: 40px;
    margin-bottom: 40px;
  }


  .featured-categories__column{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 20%;
  }

  .logo-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .logo-wrapper img{
    padding: 10px;
    aspect-ratio: 4/2;
    object-fit: contain;
    width: 12%;
  }

  .logo-wrapper img:first-child{
    width: 15%;
  }

  .main__business-solutions{
    display: flex;
  }

  .business-colutions__logos{
    margin-top: 50px;
  }

  .business-solutions__content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .business-solutions__content-wrapper p{
    width: 90%;
  }

  .business-colutions__btn{
    width: 30%;
  }

  .plan-cards__card{
    width: 232px;
    height: 702px;
    justify-content: flex-start;
    gap: 40px;
  }

  .plans-crds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  
  .our-students__student-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "pic-one pic-two pic-two pic-three"
    "pic-four pic-two pic-two pic-five"
    "pic-six pic-seven pic-eight pic-nine";
  }
  
  .our-students__student-img img,
  .our-students__student-img img:nth-child(5){
    width: 100%;
    height: 100%;
  }

  .our-students__student-img img:nth-child(1){
    grid-area: pic-one;
  }

  .our-students__student-img img:nth-child(2){
    grid-area: pic-six;
  }

  .our-students__student-img img:nth-child(3){
    grid-area: pic-four;
  }

  .our-students__student-img img:nth-child(4){
    grid-area: pic-two;
    width: 100%;
    height: 100%;
  }

  .our-students__student-img img:nth-child(5){
    grid-area: pic-seven;
  }

  .our-students__student-img img:nth-child(6){
    grid-area: pic-eight;
  }

  .our-students__student-img img:nth-child(7){
    grid-area: pic-five;
  }

  .our-students__student-img img:nth-child(8){
    grid-area: pic-three;
  }

  .our-students__student-img img:nth-child(9){
    grid-area: pic-nine;
  }

  .main__form-header,
  .main__form form{
    max-width: 856px;
  }

  .form-btn{
    width: 168px;
  }

}


@media (min-width: 1200px){
.main section{
  margin-bottom: 80px;
}

  .body__learnning{
    align-items: flex-start;
    width: 100%;
    background-size: 40%;
    margin-left: 12px;
    margin-right:12px;
  }

  .learnning__content{
    margin: 110px 400px 184px 110px;
    display: flex;
    flex-direction: column;
    gap: 32px;

  }

  .academic-learnning__img{
    width: 416px;
    height: 278px;
  }

  .academic-learnning__card{
    width: 416px;
    height: 210px;
    border-radius: 8px;
  border: 1px solid #DADADA;
  }

  .card-wrapper{
    justify-content: center;
    
  }

  .main__course-specialization{
    margin-top: 300px;
  }

  .course-specialization__card img{
    width: 100%;
height: 270px;
flex-shrink: 0;
  }

  .featured-categories__column-wrapper{
    justify-content: space-evenly;
  }

  .featured-categories__column{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .main__business-solutions{
    gap: 72px;
  }

  .business-solutions__logos{
    grid-auto-rows: 70px;
  }

  .business-solutions__logos{
    max-width: none;
    max-height: none;
    width: 80%;
  }

  .grid-item{
    width: 200px;
    height: 70px;
  }

  .form-wrapper{
    max-width: 856px;
    margin: 0 auto;
  }

  .plan-cards__card{
    width: 416px;
  }

}