:root{
  --main-color: #1A1B1B;
  --secondary-color: #006CE5;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: fit-content;
}

.mobile-nav-bar {
  height: 3px;
  width: 20px;
  border-top: 3px solid #fff;
  margin-top: 3px;
}

.live {
  display: flex;
  align-items: center;
  border-left: 1px solid #D4D4D4;
  margin-right: 8px;
  padding-left: 8px;
}

.live-text {
  color: #ED0E05;
  text-align: center;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 600;
}

.sub-header-main {
  color: var(--main-color);
  font-family: Urbanist;
  font-size: 17px;
  font-weight: 400;
  line-height: 21.25px;
  margin-top: 80px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.content {
  margin: 8px;
}

.header-main {
  color: #1A1B1B;
  font-family: Urbanist;
  font-size: 54px;
  font-weight: 600;
  line-height: 59.4px;
  border-bottom: 1px solid #D4D4D4;
  margin: 8px 12px;
}

.poland-news::before {
  content: "POLAND";
  width: 81px;
  height: 17px;
  background-color: #FFFFFF;
  padding: 10px 20px 10px 0px;
  position: absolute;
  top: -35px;
  color: #0B3462;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
}

.destination-news::before {
  content: "DESTINATIONS";
  height: 17px;
  background-color: #fff;
  padding: 10px 20px 10px 0px;
  position: absolute;
  top: -33px;
  color: #0B3462;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
}

.travel-news::before {
  content: "TRAVEL NEWS";
  height: 17px;
  background-color: #fff;
  padding: 10px 20px 10px 0px;
  position: absolute;
  top: -33px;
  color: #0B3462;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  width: fit-content;
}

.uncovering-europe::before {
  content: "UNCOVERING EUROPE";
  height: 17px;
  background-color: #fff;
  padding: 10px 20px 10px 0px;
  position: absolute;
  top: -33px;
  color: #0B3462;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  width: fit-content;
}

.culture-news::before {
  content: "CULTURE NEWS";
  height: 17px;
  background-color: #fff;
  padding: 10px 20px 10px 0px;
  position: absolute;
  top: -33px;
  color: #0B3462;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  width: fit-content;
}

.burger-menu {
  background-color: var(--secondary-color);
  width: 48px;
  height: 48px;
  padding: 13px 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
}

.logo {
  margin-left: 72px;
}

.nav-menu-desctop {
  display: none;
}

.police-img {
  width: 100%;
  height: 416px;
  background: url("../images/police.png") no-repeat center center;
  background-size: cover;
  margin-top: 37px;
}

.main-news-img{
  width: 359px;
  height: 166px;
}

.news-header {
  color: var(--main-color);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  position: relative;
  margin-top: 35px;
}

.news-card {
  border-bottom: 1px solid #D4D4D4;
  padding-top: 24px;
  padding-bottom: 24px;
}

.news-image {
  width: 359px;
  height: 166px;
}

.img-wrapper {
  position: relative;
}

.play-button::after {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.more-section-header {
  color: var(--main-color);
  font-family: Urbanist;
  font-size: 34px;
  font-weight: 800;
  line-height: 37.4px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.more-section-card {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.news-description {
  color: var(--main-color);
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  padding: 10px 0px;
}

.news-date {
  color: var(--main-color);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 200;
  line-height: 16.8px;
}

.police-news-header {
  margin-top: 0px;
  margin-bottom: 24px;
  color: #1A1B1B;
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 800;
  line-height: 26.4px;
  position: relative;
}

.pages {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.page-number {
  border: 1px solid #d4d4d4;
  border-radius: 500px;
  padding: 10px;
  width: 35px;
  height: 35px;
  color: var(--main-color);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 800;
  line-height: 16.8px;
  text-align: center;
  text-decoration: none;
}

.footer-one {
  background-color: #eef2f3;
  padding-top: 44px;
  border-top: 3px solid #D4D4D4;
  margin-top: 32px;
}

.page-two,
.page-three {
  color: var(--secondary-color);
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.search-bar-footer {
  align-self: center;
  margin-left: 35px;
  width: 280px;
  height: 36px;
  position: relative;
  margin-bottom: 32px;
  border: none;
  background-color: #DCE4E7;
}

.search-bar-footer::placeholder{
  color: #919191;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  padding: 10px;
}

.search-bar-footer:focus {
  outline: none;
  padding: 10px;
}

.search-bar-footer:focus::placeholder{
  color: transparent;
}

.input-button {
  border: none;
  background-color: var(--secondary-color);
  width: 36px;
  height: 36px;
  padding: 10px;
}

.search-bar-icon::after {
  content: "";
  height: 36px;
  width: 36px;
  background-color: var(--secondary-color);
  background-image: url(../images/icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 50px;
}

.tags-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.tag-header-text {
  color: #000;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
}

.footer-tag {
  color: var(--main-color);
  text-align: center;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  border-radius: 800px;
  background-color: #FFF;
  padding: 8px 16px;
}

.tags-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 44px;
}

.tags-footer a {
  text-decoration: none;
}

.page-next{
  text-decoration: none;
  align-self: center;
  color: var(--secondary-color);
  font-family: Urbanist;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 16.8px;
}

.footer-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.logo-footer {
  align-self: center;
  width: 154px;
  height: 42px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.footer-two-text {
  color: var(--main-color);
  text-align: center;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  padding-bottom: 24px;
}

@media (min-width: 360px){
  .more-section-card{
    max-width: 360px;
    min-width: 360px;
  }

  .news-card{
    min-width: 360px;
    max-width: 360px;
  }

  .news-description{
    min-width: 360px;
    max-width: 360px;
  }

  .news-header{
    min-width: 360px;
    max-width: 360px;
  }

}


@media (min-width: 768px) {
  .nav-menu-desctop {
    display: none;
  }

  .news-card {
    display: flex;
    gap: 24px;
  }

  .more-section-card {
    display: flex;
    gap: 24px;
  }

  .tags-footer {
    margin-left: 100px;
    margin-right: 100px;
  }

  .news-image {
    width: 296px;
    height: 100%;
  }

  .play-button::after {
    right: 10px;
    bottom: 10px;
  }

  .main-news-header {
    font-size: 28px;
    line-height: 30.8px;
  }

  .main-news-img{
    width: 296px;
    height: 166px;
  }

  .more-section-card{
    display: flex;
    flex-direction: row;
  }


}

@media (min-width: 1368px) {

  .live {
    display: flex;
    align-items: center;
  }

  .live-logo {
    padding-left: 8px;
  }

  .live-text {
    color: #ED0E05;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 8px;
  }

  .content {
    margin: 36px;
  }

  .burger-menu{
    display: none;
  }

  .logo {
    margin-left: 16px;
  }

  .nav-menu-desctop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .nav-menu-desctop a {
    text-decoration: none;
    color: var(--main-color);
  }

  .nav-menu-desctop li {
    list-style-type: none;
  }

  .main-news-section {
    display: flex;
    gap: 0px 24px;
    border-bottom: 1px solid #D4D4D4;
    margin: 0px 36px;
  }

  .police-img {
    width: 746px;
    height: 418px;
    margin-top: 0px;
  }

  .main-news-section{
    padding: 32px;
  }

  .main-news-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .news-card{
    display: flex;
  }

  .opposition-poland {
    padding-top: 0px;
  }


  .news-image {
    width: 306px;
    height: 100%;
  }

  .main-news-header {
    font-size: 28px;
    line-height: 30.8px;
  }

  .more {
    display: flex;
    gap: 36px;
    justify-content: flex-start;
  }

  .more-section-card {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
  }

  .investigation-poland{
    border-bottom: none;
  }

  .more-section-header {
    width: 400px;
    margin-left: 46px;
    margin-top: 56px;
  }

  .tags-footer {
    margin-left: 410px;
    margin-right: 410px;
  }

  .main-news-img{
    width: 196px;
    height: 110px;
  }

}